<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menu</title>
</head>
<body>

    <h1>Menu Principal </h1>
    <p>Escolha uma opção para navegar no sistema:</p>

    <nav>
        <a href="/tela/home"><button>Home</button></a>
        
        <a href="/tela/clientes_geral/cadastro"><button>Cadastrar</button></a>
        
        <a href="/tela/clientes_geral/pesquisar"><button>Pesquisar</button></a>
        
    </nav>

    <hr>

    

</body>
</html>